.content {
    display: flex;
    align-items: stretch;
    width: 100%;
    flex: auto;
    height: auto;
}

.menu {
    background-color: #5784BA;
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
    margin-right: 0px;
}
.menu li{
    list-style-type: none;
    padding-bottom: 25%;
    
}
.menu ul{
    padding: 10px;
    padding-top: 10%;
    padding-bottom: 10%;
}
.menu input{
    margin: auto;
    background-color: #F7F6CF;
    border-color: #9AC8EB;
    border-radius: 10%;
    width: 100px;
}


table{
    width: 100%;
    text-align: center;
}

.Information{
    font-size: larger;
    color: blue;
    text-transform: capitalize;
}
